<%- include("parcial/header") -%>


<h1>COMPOSE</h1>
<form method="POST" action ="/compose">
<lable>TITLE</lable>
<div class="textbox">
 <input type="text" name = "post" class="form-control" ><br>
</div>
<label>post</label>
<div class="textarea">
<textarea name = "text" class="form-control"></textarea><br>
</div>
<div class="submit_button" >
<button type="submit" name="button" class="btn btn-primary">publish</button>
</div>
</form>





